-i https://pypi.org/simple
asttokens
backcall
decorator
executing
ipython
jedi
matplotlib-inline
numpy
opencv-python
parso
pexpect
pickleshare
pillow
prompt-toolkit
ptyprocess
pure-eval
pygments
six
scikit-learn
stack-data
torch
torchvision
tqdm
traitlets
typing-extensions
wcwidth
